{% extends 'base.html'%}
{% block content %}
<div class='row'>
    <div class = 'col-sm-8 offset-2'>
        <h4 class="alert alert-info">Add Employee</h4>
            <form method="post" action="{% url 'create' %}">
                    {% csrf_token %}
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">User Login Details</h3>
                    </div>
                    {{user.as_p}}
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Employee information Details</h3>
                    </div>
                    {{form.as_p}}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a href="{% url 'detail' %}" class="btn btn-secondary me-md-2">Cancel</a>
                        <input type='submit' class='btn btn-success' value='Add'>
                    </div>
            </form>
        </h4>
    </div>
</div>
{% endblock %}